@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap');

#infoCard {
    width:30rem;
    margin-left: auto;
    margin-right: auto;
}
#imageInfo {
    height: 10rem;
}

#InputCity{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
body {
        font-family: 'Fugaz One', cursive;
}